* {
    box-sizing: border-box;
  }

  /* headr */
  header{
    text-align: center;
    
  }
  header h1{

background-color: blueviolet;



  }
  nav{
    overflow: hidden;
    background-color: #333;

  }
nav a{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}






  .flex-container {
    display: flex;
  flex-direction: row;
  font-size: 30px;
  text-align: center;

  }
  
  .flex-item-left {
    background-color: #c79797;
    padding: 10px;
    flex: calc(100%/3);
   }
   .flex-item-nos {
    background-color: dodgerblue;
    padding: 10px;
    flex: calc(100%/3);
   }
   .flex-item-right  {
    background-color: rgb(120, 255, 30);
    flex: calc(100%/3);
    padding: 10px;

   }


                 .box{
                    background-color: azure;
                    font-size: large;
                     text-align: left;
                     
                 }
                    .online{

                        font-size:15px;
                        margin: 100px;
                    }
                 .online img{
                  width: 50%;
                  height: auto;
 

                 }
                 
                 video{
                    width: 50%;
                    height: auto;
                  }










 




  
                        .person img{
                            border:solid ;
                            margin-top: 100px;
                            height:200px;
                            width: auto;
                        }
                        .news{
                            background-color: black;
                        }
                        .news p{
                            margin: 20px auto;

                            border:solid ;
                            text-align: center;

                            width: 70%;
                        }



.w3-button{
  display: none;
  text-align: left;
}
       #mySidebar{

        
       }                 
@media (max-width:900px){
   
 .flex-item-nos {
width: 100%;


}

}

 /* .flex-container {
      flex-direction: column;
    } */

   @media (max-width: 600px) {
    .flex-container {
      flex-direction: column;
    }

    nav    {
      width: 100%;
   }
    nav  a {
        width: 100%;
     }


    header {
        float: none;
        width: 100%;
      }
      

     .flex-item-left{
       /* display: none; */
       order: 3;

 
     }
     nav{
      display: none;
    }
    .w3-button{
      display: inline-block;

    }
    
  }

   
     
 
  

 


  
 



 




   /* footer */
   .footer{
    background-color:#e5e5e5;
    text-align:center;
    padding:10px;
    margin-top:7px;
  }
  